/* Estilos gerais (para telas maiores) */
.div {

    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-image: url('./background-mulher.png');
    background-repeat: no-repeat;
    background-size: cover;
}



