.btnAguardandoPagamento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    border-radius: 500px;
    padding: 20px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    margin-bottom: 40px;
    margin-top: 30px;

    font-family: var(--fonte-secundaria-raleway);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;

    transition: transform 0.3s;
}

.btnAguardandoPagamento:hover {
    transform: scale(1.1);
}