.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0px 18px;
}

.horario{
    color: #000000;
    font-family: var(--fonte-principal-roboto);
}

.icones{
    display: flex;
    gap: 3px;
}