.header{
 display: flex;
 align-items: center;

 gap: 50px;
 
}

.horario{
    color: #000000;
    font-family: var(--fonte-principal-roboto);
    font-weight: 600;
    font-size: 17px;
}

.icones{
    display: flex;
    gap: 3px;
}