:root{
    --fonte-principal-roboto: "Roboto", sans-serif;
    --fonte-secundaria-raleway: "Raleway", sans-serif;
    --fonte-formulario-lato: "Lato", sans-serif;

    --cor-label-formulario: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
}
button{
    outline: none;
    border: none;
    all: unset;
    cursor: pointer;
}

input:focus {
    outline: none;
}
